<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Dados</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <fieldset class="form-horizontal">
                <%= form_for(@tipo_agendamento, html: { autocomplete: "off" }) do |f| %>
                  <div class="form-group">
                    <div class="field">
                      <%= f.label :descricao, 'Descrição', class: 'col-sm-2 control-label padding' %>
                      <div class="col-sm-10 padding">
                        <%= f.text_field :descricao, class: 'form-control input-sm' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="field">
                      <%= f.label  :cor, 'Cor', class: 'col-sm-2 control-label padding' %>
                      <div class="col-sm-10 padding">
                        <div class="input-group" data-autoclose="true">
                          <span class="input-group-addon">
                            <%= f.select :cor, options_for_select([
                                                                      ['Black','rgb(10,10,10)','data-color' => 'rgb(10,10,10)'],
                                                                      ['teste','rgb(100,100,100)','data-color' => 'rgb(100,100,100)'],
                                                                      ['teste','rgb(240,128,128)','data-color' => 'rgb(240,128,128)'],
                                                                      ['teste','rgb(199,21,133)','data-color' => 'rgb(199,21,133)'],
                                                                      ['Indigo','rgb(75,0,130)','data-color' => 'rgb(75,0,130)'],
                                                                      ['Purple','rgb(128,0,128)','data-color' => 'rgb(128,0,128)'],
                                                                      ['Navy','rgb(0,0,128)','data-color' => 'rgb(0,0,128)'],
                                                                      ['Blue','rgb(0,0,255)','data-color' => 'rgb(0,0,255)'],
                                                                      ['DimGray','rgb(105,105,105)','data-color' => 'rgb(105,105,105)'],
                                                                      ['Crimson','rgb(220,20,60)','data-color' => 'rgb(220,20,60)'],
                                                                      ['Maroon','rgb(128,0,0)','data-color' => 'rgb(128,0,0)'],
                                                                      ['Red','rgb(255,0,0)','data-color' => 'rgb(255,0,0)'],
                                                                      ['Teal','rgb(0,128,128)','data-color' => 'rgb(0,128,128)'],
                                                                      ['OrangeRed','rgb(255,69,0)','data-color' => 'rgb(255,69,0)'],
                                                                      ['DarkGreen','rgb(0,100,0)','data-color' => 'rgb(0,100,0)'],
                                                                      ['Olive','rgb(128,128,0)','data-color' => 'rgb(128,128,0)'],
                                                                      ['DarkGoldenrod','rgb(184,134,11)','data-color' => 'rgb(184,134,11)'],
                                                                      ['SaddleBrown','rgb(139,69,19)','data-color' => 'rgb(139,69,19)'],
                                                                      ['Lime','rgb(0,255,0)','data-color' => 'rgb(0,255,0)'],
                                                                      ['Yellow','rgb(255,255,0)','data-color' => 'rgb(255,255,0)']
                                                                    ], f.object.cor), {}, {class: 'form-control input-sm'} %>
                          </span>
                          <%= text_field_tag :cor_text, @tipo_agendamento.cor.present? ? @tipo_agendamento.cor : nil, class: 'form-control input-sm', readonly: 'true' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="actions aligncenter">
                    <%= f.submit 'Salvar', :class => 'btn btn-lg btn-success aligncenter' %>
                  </div>
                <% end %>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

