<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>RELATÓRIO DE PERÍODOS INERTES</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h5>Filtros</h5>
          <%= form_tag('/relatorios/periodo_inertes_print', method: :post) do %>
            <div class="row">
              <div class="field col-sm-2">
                <label for="data_inicio">Data Início</label>
                <input class="form-control input-sm" type="text" name="data_inicio" id="data_inicio">
              </div>
              <div class="field col-sm-2">
                <label for="data_fim">Data Fim</label>
                <input class="form-control input-sm" type="text" name="data_fim" id="data_fim">
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Sistema', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'sistema_id', options_for_select( Sistema.all.collect{ |u| [u.nome, u.id] }) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um sistema'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Avalição', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag  'tipo_avaliacao', options_for_select([
                                                                             ['Todas', nil],
                                                                             ['Positivas', true],
                                                                             ['Negativas', false]
                                                                     ], nil), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione uma tipo'}} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Estado', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'estado_id', options_for_select( Estado.order(:nome).collect{ |u| [u.descricao_completa, u.id] }) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um estado'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Cidade', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'cidade_id', options_for_select( []) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um cidade'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-3">
                <%= label_tag 'Empresa', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag  'empresa_id', options_for_select([
                                                                         ['German Tech Sistemas (PR)', 1],
                                                                         ['Pró Vendas', 11],
                                                                         ['Centro de Distribuição', 20]
                                                                 ], (get_codigo_empresa(current_empresa.id))), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione uma empresa'}, :include_blank => true, :multiple => true} %>
              </div>



              <div class="col-lg-2">
                  <br>
                  <%= submit_tag 'Gerar', :id => 'btnGerarRelatorio', :class => 'btn btn-primary', :formtarget => "_blank" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag("relatorios_periodo_inertes") %>