<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>RELATÓRIO RESUMO COMERCIAL</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h5>Filtros</h5>
          <form>
            <div class="row">
              <div class="field col-sm-2">
                <label for="data_inicio">Data Início</label>
                <input class="form-control input-sm" type="text" name="data_inicio" id="data_inicio">
              </div>
              <div class="field col-sm-2">
                <label for="data_fim">Data Fim</label>
                <input class="form-control input-sm" type="text" name="data_fim" id="data_fim">
              </div>
              <div class="field col-sm-3">
                <%= label_tag 'Vendedor', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'vendedor_id', options_for_select(User.empresas_acesso(current_empresa.id).collect {|p| [ p.name, p.id ] }), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um vendedor'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-3">
                <%= label_tag 'Implantador', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'implantador_id', options_for_select(User.empresas_acesso(current_empresa.id).collect {|p| [ p.name, p.id ] }), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um implantador'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Gerar ligações', nil, class: 'col-sm-12 control-label padding' %>
                <%= select_tag  'gerar_ligacoes', options_for_select([
                                                                                ['Sim', true],
                                                                                ['Não', false]
                                                                            ], false), {:class => "form-control input-sm chosen-select"} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Sistema', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'sistema_id', options_for_select( Sistema.all.order(:nome).collect{ |u| [u.nome, u.id] }) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um sistema'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-3">
                <%= label_tag 'Cidade', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'cidade_id', options_for_select( Cidade.where(estado_id: current_empresa.cidade.estado_id).order(:nome).collect{ |u| [u.descricao_completa, u.id] }) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um sistema'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-2">
                <%= label_tag 'Estado', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag 'estado_financeiro_id', options_for_select( Financeiro::Estado.order(:nome).collect{ |u| [u.descricao_completa, u.id] }) , {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um estado'}, :include_blank => true} %>
              </div>
              <div class="field col-sm-5">
                <%= label_tag 'Empresa', nil, class: 'col-sm-2 control-label padding' %>
                <%= select_tag  'empresa_id', options_for_select([
                                                                         ['German Tech Sistemas (PR)', 1],
                                                                         ['Pró Vendas', 11],
                                                                         ['Centro de Distribuição', 20]
                                                                 ], (get_codigo_empresa(current_empresa.id))), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione uma empresa'}, :include_blank => true, :multiple => true} %>
              </div>
              <div class="col-lg-1">
                <br>
                <%= submit_tag 'Gerar', :id => 'btnGerarRelatorio', :class => 'btn btn-primary', :formtarget => "_blank" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag("relatorios_resumo") %>