<%= hidden_field_tag 'acompanhamento_id', @acompanhamento.id %>
<%= hidden_field_tag 'acompanhamento_pausada', @acompanhamento.pausada %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>ACOMPANHAMENTO</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'painel_vendas' %>">Home</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'acompanhamentos', :action => 'index' %>">Acompanhamentos</a>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce padding-top-10">
  <div class="ibox float-e-margins margin-bottom-10">
    <div class="ibox-content">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Informações</a></li>
          <li><a data-toggle="tab" href="#tab-2"> Telefones</a></li>
          <li><a data-toggle="tab" href="#tab-3"> Inf. relevantes</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <form role="form" id="formCliente">
                <div class="form-group margin-bottom-5">
                  <div class="row">
                    <div class="field col-sm-4">
                      <label for="cliente_razao_social">Cliente</label>
                      <%= text_field_tag "cliente_razao_social", @acompanhamento.cliente.razao_social, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                      <%= hidden_field_tag 'cliente_id', @acompanhamento.cliente.id %>
                    </div>
                    <div class="field col-sm-2">
                      <label for="cliente_cnpj">CNPJ</label>
                      <%= text_field_tag "cliente_cnpj", @acompanhamento.cliente.cnpj, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-3">
                      <label for="cliente_cnae">CNAE</label>
                      <div class="input-group m-b" style="margin-bottom: 0px;">
                        <%= text_field_tag "cliente_cnae", @acompanhamento.cliente.cnae.present? ? @acompanhamento.cliente.cnae.descricao : "", {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                        <span class="input-group-addon padding-0">
                          <button id="btnVerCnaes"  class="btn btn-sm btn-info btn-table" title="Ver todos Cnaes"  data-toggle="tooltip" data-placement="right">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="field col-sm-3">
                      <label for="cliente_email">Email</label>
                      <%= text_field_tag "cliente_email", @acompanhamento.cliente.email, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                  </div>
                </div>
                <div class="form-group margin-bottom-5">
                  <div class="row">
                     <div class="field col-sm-4">
                      <label for="cliente_cidade">Cidade</label>
                      <%= text_field_tag "cliente_cidade", @acompanhamento.cliente.cidade.descricao_completa, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-2">
                      <label for="fechamento_vendedor">Vendedor</label>
                      <%= text_field_tag "fechamento_vendedor", @acompanhamento.cliente.fechamento.user.name, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-2">
                      <label for="acompanhamento_data_fechamento">Data Fechamento</label>
                      <%= text_field_tag "acompanhamento_data_fechamento", human_datetime(@acompanhamento.cliente.fechamento.data_fechamento), {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-2">
                      <label for="sistema_nome">Sistema</label>
                      <%= text_field_tag "sistema_nome", @acompanhamento.proposta.pacote.sistema.nome, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    
                  </div>
                </div>
                <div class="form-group margin-bottom-5">
                  <div class="row">
                    <div class="field col-sm-2">
                      <label for="acompanhamento_implantador">Implantador</label>
                      <%= text_field_tag "acompanhamento_implantador", @acompanhamento.cliente.implantacao.user.name, {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-2">
                      <label for="acompanhamento_implantado">Implantado</label>
                      <%= text_field_tag "acompanhamento_implantado", human_datetime(@acompanhamento.cliente.implantacao.data_fim), {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                    </div>
                    <div class="field col-sm-3">
                      <label for="acompanhamento_contato">Responsável</label>
                      <%= text_field_tag "acompanhamento_responsavel", (@acompanhamento.user.present? ? @acompanhamento.user.name : ''), {label: false,  disabled: 'true', class: "form-control input-sm"} %>
                      <%= hidden_field_tag 'acompanhamento_responsavel_id', (@acompanhamento.user.present? ? @acompanhamento.user.id : nil) %>
                    </div>
                    <div class="field col-sm-3">
                      <label for="cliente_cnae">Status</label>
                      <%= select_tag  'acompanhamento_status', options_for_select([
                                                                                      ['Aguardando acompanhamento', 0],
                                                                                      ['Em andamento', 1],
                                                                                      ['Stand by', 2],
                                                                                      ['Desistente - Pós instalação', 3],
                                                                                      ['Desistente - Durante acompanhamento', 4],
                                                                                      ['Acompanhamento concluído', 5]
                                                                                  ], @acompanhamento.status), {:class => "form-control input-sm chosen-select", :data => {:placeholder => 'Selecione um status'}, :include_blank => true, disabled: "true"} %>
                    </div>
                  </div>
                </div>
                <div class="form-group margin-bottom-5">
                  <div class="row">
                    <div class="field col-sm-12">
                      <label>Observações</label>
                      <%= text_area_tag "acompanhamento_observacoes", @acompanhamento.observacao, {label: false,  class: "form-control input-sm"} %>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <div class="col-sm-12">
              <button class="btn btn-xs btn-primary pull-left" id="btnNovoContato">Novo Contato</button>
              </div>
              <div class="col-sm-6">
                <small>Cliente</small>
                <table id="table-contatos" class="table table-hover">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                  </tr>
                  </thead>
                  <tbody id="body_table_contatos">
                  <% if @acompanhamento.cliente.all_telefones.size > 0 %>
                      <% @acompanhamento.cliente.all_telefones.each do |key, value| %>
                          <tr>
                            <td><%= value[:contato] %></td>
                            <td><%= key %></td>
                            <td><input class="pref pref-celular" type="checkbox" title="Preferencial?" <%= value[:preferencial] ? 'checked' : ''%> disabled="disabled"></td>
                            <td><input class="whats whats-celular"  type="checkbox" title="Enviou whatsapp?" <%= value[:whats] ? 'checked' : ''%> disabled="disabled"></td>
                            <td style="padding-top: 2px;">
                              <button id="btnMandarWhats"  class="btn btn-sm btn-white btn-table" title="Whatsapp" onclick="chamarApiWhats('<%= key %>')"  data-toggle="tooltip" data-placement="right">
                                <%= image_tag("whats_enviado.ico", :alt => "Avatar", :class => "img-circle") %>
                              </button>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-6">
                <small>Agenda</small>
                <table id="table-contatos" class="table table-hover">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                  </tr>
                  </thead>
                  <tbody id="body_table_contatos">
                  <% if @agenda.present? %>
                      <% if @agenda.telefone.present? %>
                          <tr>
                            <td><%= @agenda.contato %></td>
                            <td><%= @agenda.telefone %></td>
                            <td style="padding-top: 2px;">
                              <button id="btnMandarWhats"  class="btn btn-sm btn-white btn-table" title="Whatsapp" onclick="chamarApiWhats('<%= @agenda.telefone %>')"  data-toggle="tooltip" data-placement="right">
                                <%= image_tag("whats_enviado.ico", :alt => "Avatar", :class => "img-circle") %>
                              </button>
                            </td>
                          </tr>
                      <% end %>
                      <% if @agenda.telefone2.present? %>
                          <tr>
                            <td><%= @agenda.responsavel2 %></td>
                            <td><%= @agenda.telefone2 %></td>
                            <td style="padding-top: 2px;">
                              <button id="btnMandarWhats"  class="btn btn-sm btn-white btn-table" title="Whatsapp" onclick="chamarApiWhats('<%= @agenda.telefone2 %>')"  data-toggle="tooltip" data-placement="right">
                                <%= image_tag("whats_enviado.ico", :alt => "Avatar", :class => "img-circle") %>
                              </button>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body scroll" style="padding: 5">
              <div class="tabs-container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-10"> Fechamento</a></li>
                  <li><a data-toggle="tab" href="#tab-11"> Implantação</a></li>
                  <% if @acompanhamento.finalizado? %>
                      <li><a data-toggle="tab" href="#tab-12"> Acompanhamento</a></li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <div id="tab-10" class="tab-pane active">
                    <div class="panel-body">
                      <% @acompanhamento.cliente.pergunta_cliente_respostas.where(tipo: 1).each do |resposta| %>
                          <div class="form-group">
                            <div class="field">
                              <label><%= resposta.pergunta.pergunta %></label>
                              <textarea class="form-control" type="text" id="pergunta_<%= resposta.id %>" disabled><%= resposta.resposta %></textarea>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                  <div id="tab-11" class="tab-pane active">
                    <div class="panel-body">
                      <% @acompanhamento.cliente.pergunta_cliente_respostas.where(tipo: 2).each do |resposta| %>
                          <div class="form-group">
                            <div class="field">
                              <label><%= resposta.pergunta.pergunta %></label>
                              <textarea class="form-control" type="text" id="pergunta_<%= resposta.id %>" disabled><%= resposta.resposta %></textarea>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                  <% if @acompanhamento.finalizado? %>
                      <div id="tab-12" class="tab-pane">
                        <div class="panel-body">
                          <% @acompanhamento.cliente.pergunta_cliente_respostas.where(tipo: 3).each do |resposta| %>
                              <div class="form-group">
                                <div class="field">
                                  <label><%= resposta.pergunta.pergunta %></label>
                                  <textarea class="form-control" type="text" id="pergunta_<%= resposta.id %>" disabled><%= resposta.resposta %></textarea>
                                </div>
                              </div>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <% if @cliente.hist_acomp_id.present? || @cliente.hist_impl_id.present?%>
            <li><a data-toggle="tab" href="#tab-8"> Histórico anterior</a></li>
          <% end %>
          <li class="active"><a data-toggle="tab" href="#tab-4"> Histórico</a></li>
          <li><a data-toggle="tab" href="#tab-5"> Histórico implantação</a></li>
          <li><a data-toggle="tab" href="#tab-6"> Histórico ligações</a></li>
          <li><a data-toggle="tab" href="#tab-7"> Propostas</a></li>
          <li><a data-toggle="tab" href="#tab-anexos"> Anexos</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-4" class="tab-pane active">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox-content tbody-contatos">
                  <button class="btn btn-sm btn-info" id="btnNovoComentario" onclick="abrirModalComentario()"><i class="fa fa-plus"></i> Comentário</button>
                  <% @activities.each do |activity| %>
                      <div class="activity">
                        <%=  render_activity activity %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-5" class="tab-pane">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox-content tbody-contatos">
                  <% @activities_implantacao.each do |activity| %>
                      <div class="activity">
                        <%=  render_activity activity %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-6" class="tab-pane">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox-content tbody-contatos">
                  <table id="table-ligacoes" class="table table-hover">
                    <thead>
                    <tr>
                      <th style="width: 15%">Data</th>
                      <th>Usuário</th>
                      <th>Status</th>
                      <th>Status Cliente</th>
                      <th>Observação Ligação</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody id="body_table_ligacoes">
                    <% @ligacoes.each do |ligacao| %>
                        <tr>
                          <td><%= human_datetime ligacao.data_inicio %></td>
                          <td><%= ligacao.user.name %></td>
                          <td><%= ligacao.status_ligacao.present? ? ligacao.status_ligacao.descricao : '' %></td>
                          <td><%= ligacao.status_cliente.present? ? ligacao.status_cliente.descricao : '' %></td>
                          <td><%= ligacao.observacao %></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-7" class="tab-pane">
            <div class="ibox-content">
              <button class="btn btn-sm btn-success" id="btnNovaProposta" onclick="abrirModalProposta(null)">Nova Proposta</button>
              <table id="table-proposta" class="table table-hover">
                <thead>
                <tr>
                  <th>Data</th>
                  <th>Sistema</th>
                  <th>Usuário</th>
                  <th>Mensalidade</th>
                  <th>Tipo Implantação</th>
                  <th>Implantação</th>
                  <th>Forma Pagamento</th>
                  <th>Ativa</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="body_table_proposta">
                <% @propostas.each do |proposta| %>
                    <tr>
                      <td><%= human_date proposta.data %></td>
                      <td><%= proposta.pacote.sistema.nome %></td>
                      <td><%= proposta.user.name unless proposta.user.nil? %></td>
                      <td><%= human_currency proposta.valor_mensalidade %></td>
                      <td><%= proposta.tipo_implantacao %></td>
                      <td><%= human_currency proposta.valor_implantacao %></td>
                      <td><%= proposta.formas_pagamento_id.present? ? Formapagamento.find(proposta.formas_pagamento_id).descricao : "" %></td>
                      <td><input class="pref pref-celular"  type="checkbox" title="Ativa?" id="propostaAtiva-<%= proposta.id %>" onclick="setPropostaAtiva(<%= proposta.id %>)" <%= proposta.ativa ? 'checked' : ''%>  ></td>
                      <td><button class="btn btn-sm btn-primary" onclick="abrirModalProposta(<%= proposta.id %>)"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-8" class="tab-pane">
            <div class="ibox-content">
              <div class="row">
                <div class="col-lg-12">
                  <div class="tabs-container">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#tab-9"> Ligações</a></li>
                      <li><a data-toggle="tab" href="#tab-Impl"> Implantação</a></li>
                      <li><a data-toggle="tab" href="#tab-Acomp"> Acompanhamento</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="tab-9" class="tab-pane active">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="ibox-content tbody-contatos">
                              <table id="table-ligacoes" class="table table-hover">
                                <thead>
                                  <tr>
                                    <th style="width: 15%">Data</th>
                                    <th>Usuário</th>
                                    <th>Status</th>
                                    <th>Status Cliente</th>
                                    <th>Observação Ligação</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody id="body_table_ligacoes">
                                  <% @ligacoes_old.each do |ligacao| %>
                                    <tr>
                                      <td><%= human_datetime ligacao.data_inicio %></td>
                                      <td><%= ligacao.user.name %></td>
                                      <td><%= ligacao.status_ligacao.present? ? ligacao.status_ligacao.descricao : '' %></td>
                                      <td><%= ligacao.status_cliente.present? ? ligacao.status_cliente.descricao : '' %></td>
                                      <td><%= ligacao.observacao %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="tab-Impl" class="tab-pane">
                        <div class="ibox-content tbody-contatos">
                          <% if @activities_impl.count.eql? 0 %>
                            <h3> Nenhum Histórico Anterior há ser exibido </h3>
                          <% end %>
                          <% @activities_impl.each do |activity| %>
                            <div class="activity">
                              <%=  render_activity activity %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div id="tab-Acomp" class="tab-pane">
                        <div class="ibox-content tbody-contatos">
                          <% if @activities_acomp.count.eql? 0 %>
                            <h3> Nenhum Histórico Anterior há ser exibido </h3>
                          <% end %>
                          <% @activities_acomp.each do |activity| %>
                            <div class="activity">
                              <%=  render_activity activity %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-anexos" class="tab-pane">
            <div class="row">
              <div class="col-lg-6">
                <div class="ibox-content tbody-contatos">
                  <form action="/upload" id="mediadropzone" class="dropzone" enctype="multipart/form-data">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                    <%= hidden_field_tag 'cliente', @cliente.id %>
                    <DIV class="dz-message">    
                    Arraste os arquivos ou clique para fazer upload
                    </DIV>
                    <div class="fallback">
                    <input name="media" type="file" multiple />
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="ibox-content tbody-contatos">
                  <div class="row" style="font-size:25px;">
                      <input type="checkbox" class="js-switch" id="contrato_assinado"/> Contrato assinado?
                  </div>
                  <div class="row">
                    <h3><i class="fa fa-paperclip"> </i> Anexos do cliente</h3>
                    <% @anexos.each do |att|%>
                      <div id="anexo-<%=att.id%>">
                        <i class="fa fa-file-text-o"></i> <%= link_to File.basename(att.file.path), {action: 'download_file', id: att.id, controller: 'upload'}, target: '_blank'  %>
                        <button type="button" class="btn btn-danger" onclick="remover_anexo('<%= att.id %>')" ><i class="fa fa-trash"></i> </button>                                                    
                        
                        <br />
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="pull-center" id="groupLigacaoIniciada">
      <button name="button" class="btn-lg ladda-button btn btn-info" onclick="GerarContratoEmpresa(<%= @acompanhamento.id %>)"> Contrato </button>
      <button name="button" class="btn-lg ladda-button btn btn-bg-agendar" onclick="abrirModalAgenda('botao')">Agendar</button>

      <% if ![3,4,5].include? @acompanhamento.status %>
          <a href="#" data-toggle="modal" data-target="#modal_desistir_acompanhamento" class="btn-lg btn btn-danger">Desistente</a>
      <% end %>
      <% if [1].include? @acompanhamento.status %>
          <a href="#" data-toggle="modal" data-target="#modal_pausar_acompanhamento" class="btn-lg btn btn-info">Pausar</a>
      <% end %>
      <% if [2].include? @acompanhamento.status %>
          <%= button_to "Continuar", { action: 'continuar', id: @acompanhamento.id} ,  { form_class: "form_inline", class: 'btn-lg ladda-button btn btn-info' } %>
      <% end %>
      <% if @acompanhamento.aguardando? %>
          <%= button_to "Iniciar", { action: 'iniciar', id: @acompanhamento.id} ,  { form_class: "form_inline", class: 'btn-lg ladda-button btn btn-primary' } %>
      <% end %>
      <% if [1].include? @acompanhamento.status %>
          <a href="#" data-toggle="modal" data-target="#modal_finalizar_acompanhamento" class="btn-lg ladda-button btn btn-primary">Finalizar</a>
      <% end %>  
    </div>
  </div>
</div>

<%= render 'acompanhamentos/modals/desistente' %>
<%= render 'acompanhamentos/modals/pausar' %>
<%= render 'acompanhamentos/modals/novo_comentario' %>
<%= render 'acompanhamentos/modals/finalizar_acompanhamento' %>
<%= render 'propostas/modal_proposta' %>
<%= render 'implantacoes/motivo' %>
<%= render 'clientes/adicionar_contato' %>
<%= render 'cnaes/cnaes_cliente' %>
<%= render 'modal_agenda' %>

<script>
  var usuarioAdmin = <%= current_user.admin? %>;
  $(document).ready(function(){
      var checkboxContrato = document.querySelector('.js-switch');
      var init = new Switchery(checkboxContrato);

      if (<%= @cliente.assinou_contrato %> && !checkboxContrato.checked ){
        $('#contrato_assinado').trigger('click');
      }

      checkboxContrato.onchange = function(){
          $.ajax({
              url: '/clientes/assinar_contrato',
              data: { info: checkboxContrato.checked,
                  cliente_id: $('#cliente').val()},
              type: 'GET',
              success: function(data) {
                  exibirMsg("Status do contrato alterado.");     
              },
              error: function(data) {
                  exibirErro(data);
              }
          });
      }
  });
</script>