<div id="modal_importacao_em_massa" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Importação em massa</h4>
      </div>
      <form class="form-horizontal" id="form_importacao_em_massa">
        <div class="modal-body">
          <div class="form-group">
            <div class="field col-sm-6 padding">
              <%= label_tag 'Data', nil %>
              <%= text_field_tag :data, nil, class: 'form-control input-sm', autocomplete: "off", disabled: true %>
            </div>
            <div class="field col-sm-6 padding">
              <%= label_tag 'Qtd', nil %>
              <%= text_field_tag :qtd_dia, nil, class: 'form-control input-sm', autocomplete: "off", disabled: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="field col-sm-12 padding">
              <%= label_tag 'Quantidade', nil %>
              <%= text_field_tag :qtd, nil, class: 'form-control input-sm', autocomplete: "off",  onkeypress: 'return SomenteNumero(event)' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
          <%= submit_tag 'Importar', :id => 'btnImportacaoEmMassa', :class => 'btn btn-info'%>
        </div>
      </form>
    </div>
  </div>
</div>


