<div id="sistema_terceiros" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sistema Terceiros</h4>
      </div>
      <form class="form-horizontal" id="form_sistema_terceiros">
        <div class="modal-body">
          <div class="form-group">
            <div class="field">
              <%= label_tag 'Cliente', nil, class: 'col-sm-2 control-label padding' %>
              <div class="col-sm-10 padding ">
                <%= text_field_tag :sistema_terceiro_cliente, nil, class: 'form-control input-sm', autocomplete: "off", readOnly: 'true' %>
                <%= hidden_field_tag 'sistema_terceiro_cliente_id', 10, class: 'form-control input-sm' %>
              </div>
            </div>
          </div>
          <%= hidden_field_tag :sistema_terceiro_id, nil, class: 'form-control input-sm' %>
          <div class="form-group">
            <div class="field">
              <%= label_tag 'Empresa', nil, class: 'col-sm-2 control-label padding' %>
              <div class="col-sm-10 padding ">
                <%= text_field_tag :sistema_terceiro_empresa, nil, class: 'form-control input-sm', autocomplete: "off" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= label_tag 'Sistema', nil, class: 'col-sm-2 control-label padding' %>
              <div class="col-sm-10 padding ">
                <%= text_field_tag :sistema_terceiro_sistema, nil, class: 'form-control input-sm', autocomplete: "off" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= label_tag 'Mensalidade', nil, class: 'col-sm-2 control-label padding' %>
              <div class="col-sm-10 padding ">
                <%= text_field_tag :sistema_terceiro_mensalidade, nil, class: 'form-control input-sm', autocomplete: "off" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= label_tag 'Observação', nil, class: 'col-sm-2 control-label padding' %>
              <div class="col-sm-10 padding ">
                <%= text_area_tag :sistema_terceiro_observacao, nil, class: 'form-control input-sm', autocomplete: "off" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
          <%= submit_tag 'Salvar', :id => 'btnSalvarSistemaTerceiros', :class => 'btn btn-primary' %>
        </div>
      </form>
    </div>
  </div>
</div>

